---
import { Image } from "astro:assets";
import svgTelefono from "@assets/svg/logoTelefono.svg";
import svgWhatsapp from "@assets/svg/logoWhats.svg";
import svgInstagram from "@assets/svg/logoInstagram.svg";
import svgLogoGynobs from "@assets/svg/logoGynobs.svg";
---

<footer
  class="bg-[#464966] text-white py-6 px-4 lg:px-0
  flex flex-col items-center justify-center"
>
  <div class="container
    grid grid-cols-1 md:grid-cols-3 items-center gap-8">
    <!-- Columna 1 -->
    <div class="flex flex-col">
      <h2 class="text-xl font-montserrat font-semibold mb-2">
        Comunícate al consultorio
      </h2>
      <a href="tel:+5552470685" class="text-white hover:underline mb-2">
        <Image src={svgTelefono} alt="Teléfono" class="inline-block mr-2" />
        55-5247-0685
      </a>
      <!-- link de whatsapp -->
      <a href="https://wa.me/5578641054" class="text-white hover:underline">
        <Image src={svgWhatsapp} alt="WhatsApp" class="inline-block mr-2" />
        55-7864-1054
      </a>
    </div>

    <!-- Columna 2 -->
    <div class="flex flex-col items-center justify-center">
      <a
        href="https://www.instagram.com/gynobs/"
        class="text-white hover:underline"
        target="_blank"
      >
        <Image src={svgInstagram} alt="Instagram" class="inline-block mr-2" />
      </a>
    </div>

    <!-- Columna 3 -->
    <div class="justify-self-end">
      <svg
        width="149"
        height="38"
        viewBox="0 0 149 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M105.432 26.575C100.353 26.575 96.2246 22.4593 96.2246 17.4033C96.2246 12.3472 100.356 8.23154 105.432 8.23154C110.508 8.23154 114.639 12.3472 114.639 17.4033C114.639 22.4593 110.508 26.575 105.432 26.575ZM105.432 11.9534C102.416 11.9534 99.964 14.3959 99.964 17.4002C99.964 20.4046 102.416 22.8471 105.432 22.8471C108.448 22.8471 110.9 20.4046 110.9 17.4002C110.9 14.3959 108.448 11.9534 105.432 11.9534Z"
          fill="#C0A49E"></path>
        <path
          d="M125.088 8.22849C123.044 8.22849 121.15 8.89713 119.62 10.0268V3.56629H115.878V17.6811H115.884C116.031 22.612 120.101 26.575 125.085 26.575C130.069 26.575 134.293 22.4593 134.293 17.4033C134.293 12.3472 130.161 8.23154 125.085 8.23154L125.088 8.22849ZM125.088 22.8471C122.072 22.8471 119.62 20.4046 119.62 17.4002C119.62 14.3959 122.072 11.9534 125.088 11.9534C128.104 11.9534 130.556 14.3959 130.556 17.4002C130.556 20.4046 128.104 22.8471 125.088 22.8471Z"
          fill="#C0A49E"></path>
        <path
          d="M43.6005 26.6971C36.2107 26.6971 30.2001 20.7099 30.2001 13.3487C30.2001 5.98746 36.2137 0.000179969 43.6005 0.000179969C45.7215 0.000179969 47.7506 0.479529 49.6326 1.42601L47.9529 4.73871C46.5982 4.05785 45.1331 3.70979 43.6005 3.70979C38.2642 3.70979 33.9241 8.03308 33.9241 13.3487C33.9241 18.6642 38.2642 22.9875 43.6005 22.9875C48.2993 22.9875 52.2256 19.6351 53.0961 15.205H46.5062V11.4954H57.001V13.3517C57.001 20.7129 50.9904 26.7002 43.6005 26.7002V26.6971Z"
          fill="#EAE6DB"></path>
        <path
          d="M94.5664 26.0254H90.8423V17.3056C90.8423 14.4692 88.5251 12.161 85.6777 12.161C82.8303 12.161 80.5131 14.4692 80.5131 17.3056V26.0254H76.789V17.3056C76.789 12.4236 80.7767 8.45137 85.6777 8.45137C90.5787 8.45137 94.5664 12.4236 94.5664 17.3056V26.0254Z"
          fill="#EAE6DB"></path>
        <path
          d="M66.9992 25.4301C62.702 25.4301 59.2048 21.9464 59.2048 17.6659V9.76423H62.9288V17.6659C62.9288 19.9008 64.7556 21.7205 66.9992 21.7205C69.2428 21.7205 71.0696 19.9008 71.0696 17.6659V9.76423H74.7937V17.6659C74.7937 21.9464 71.2964 25.4301 66.9992 25.4301Z"
          fill="#EAE6DB"></path>
        <path
          d="M74.7937 21.4548V26.3735C74.7937 27.3017 74.6282 28.1932 74.3278 29.0206C73.2397 32.0036 70.3646 34.1408 66.9992 34.1408V30.4312C68.2283 30.4312 69.3348 29.8847 70.0796 29.0237C70.6957 28.3123 71.0696 27.3872 71.0696 26.3766V25.2957C72.6788 24.4408 73.9906 23.0913 74.7937 21.4579V21.4548Z"
          fill="#EAE6DB"></path>
        <path
          d="M15.1598 12.6831L28.4254 0.989409C27.1963 0.363508 25.8078 0.00933949 24.3366 0.000179969C19.2884 -0.0303518 15.1598 4.14639 15.1598 9.17192V12.6831Z"
          fill="#C0A49E"></path>
        <path
          d="M13.2656 12.6831L0 0.989395C1.22909 0.363494 2.6145 0.00932586 4.08573 0.000166335C9.13389 -0.0303654 13.2625 4.14638 13.2625 9.17191V12.68L13.2656 12.6831Z"
          fill="#C0A49E"></path>
        <path
          d="M57.5619 4.64101C57.5619 4.64101 57.001 5.2608 55.7841 5.2608C54.1382 5.2608 53.1083 4.09143 53.1083 2.64423C53.1083 1.19702 54.1382 0.0246054 55.7841 0.0246054C57.0102 0.0246054 57.5619 0.6444 57.5619 0.6444L56.9826 1.42296C56.9826 1.42296 56.4615 0.995515 55.7995 0.995515C54.834 0.995515 54.1535 1.68859 54.1535 2.64118C54.1535 3.59377 54.834 4.296 55.7995 4.296C56.5627 4.296 56.9826 3.86245 56.9826 3.86245L57.5619 4.64101Z"
          fill="#EAE6DB"></path>
        <path
          d="M63.8207 3.06862H61.4361V4.26547H64.3326V5.15089H60.4216V0.13452H64.3326V1.01994H61.4361V2.24121H63.8207V3.06862Z"
          fill="#EAE6DB"></path>
        <path
          d="M71.9769 5.15089H71.7347L68.3601 2.0916V5.15089H67.3456V0.13452H67.5969L70.9715 3.12663V0.140626H71.9799V5.14783L71.9769 5.15089Z"
          fill="#EAE6DB"></path>
        <path
          d="M74.8151 0.13452H79.1123V1.01994H77.4756V5.15089H76.4611V1.01994H74.8151V0.13452Z"
          fill="#EAE6DB"></path>
        <path
          d="M81.9383 0.13452H84.2126C85.4877 0.13452 86.2785 0.760421 86.2785 1.85651C86.2785 2.60149 85.9106 3.11137 85.3314 3.38615V3.46248L86.5329 5.05013V5.15089H85.3835L84.2678 3.62125H82.959V5.15089H81.9445V0.13452H81.9383ZM84.1789 1.01994H82.9529V2.76636H84.2034C84.8409 2.76636 85.2271 2.48241 85.2271 1.8962C85.2271 1.30999 84.8318 1.01994 84.1789 1.01994Z"
          fill="#EAE6DB"></path>
        <path
          d="M89.0799 2.64118C89.0799 1.19397 90.0945 0.0246054 91.7404 0.0246054C93.3863 0.0246054 94.4101 1.19397 94.4101 2.64118C94.4101 4.08838 93.3955 5.25775 91.7404 5.25775C90.0853 5.25775 89.0799 4.08838 89.0799 2.64118ZM93.368 2.64118C93.368 1.68859 92.6875 0.995515 91.7404 0.995515C90.7933 0.995515 90.1282 1.68859 90.1282 2.64118C90.1282 3.59377 90.7994 4.28684 91.7404 4.28684C92.6814 4.28684 93.368 3.59377 93.368 2.64118Z"
          fill="#EAE6DB"></path>
        <path
          d="M110.073 31.9608H111.36V32.144C111.36 32.9317 110.903 33.4447 110.137 33.4447C109.306 33.4447 108.794 32.8462 108.794 32.0891C108.794 31.3319 109.325 30.7304 110.155 30.7304C110.82 30.7304 111.121 31.0723 111.121 31.0723L110.943 31.3013C110.943 31.3013 110.664 31.0143 110.155 31.0143C109.502 31.0143 109.104 31.4998 109.104 32.0891C109.104 32.6783 109.487 33.1577 110.14 33.1577C110.679 33.1577 111.047 32.8065 111.056 32.2753V32.2448H110.073V31.9608Z"
          fill="#EAE6DB"></path>
        <path
          d="M112.663 33.3805H112.359V30.7823H112.663V33.3805Z"
          fill="#EAE6DB"></path>
        <path
          d="M116.123 33.3805H116.031L114.149 31.4174V33.3805H113.846V30.7823H113.938L115.82 32.7363V30.7823H116.123V33.3805Z"
          fill="#EAE6DB"></path>
        <path
          d="M119.029 32.2417H117.613V33.0997H119.222V33.3805H117.309V30.7823H119.222V31.0632H117.613V31.9608H119.029V32.2417Z"
          fill="#EAE6DB"></path>
        <path
          d="M122.232 33.1088C122.232 33.1088 121.94 33.4416 121.327 33.4416C120.518 33.4416 119.967 32.8432 119.967 32.086C119.967 31.3288 120.518 30.7273 121.327 30.7273C121.94 30.7273 122.232 31.0601 122.232 31.0601L122.057 31.2952C122.057 31.2952 121.784 31.0143 121.331 31.0143C120.705 31.0143 120.273 31.4998 120.273 32.0891C120.273 32.6783 120.702 33.1577 121.331 33.1577C121.784 33.1577 122.057 32.8768 122.057 32.8768L122.232 33.1119V33.1088Z"
          fill="#EAE6DB"></path>
        <path
          d="M122.921 32.086C122.921 31.3197 123.448 30.7273 124.27 30.7273C125.091 30.7273 125.622 31.3197 125.622 32.086C125.622 32.8523 125.094 33.4416 124.27 33.4416C123.445 33.4416 122.921 32.8432 122.921 32.086ZM125.315 32.086C125.315 31.4967 124.914 31.0113 124.273 31.0113C123.632 31.0113 123.234 31.4967 123.234 32.086C123.234 32.6753 123.632 33.1516 124.273 33.1516C124.914 33.1516 125.315 32.6722 125.315 32.086Z"
          fill="#EAE6DB"></path>
        <path
          d="M126.621 33.3805V30.7823H127.77C128.343 30.7823 128.705 31.0204 128.705 31.4845C128.705 31.7715 128.543 31.9608 128.297 32.0433V32.0707C128.586 32.1501 128.794 32.3516 128.794 32.6631C128.794 33.1577 128.395 33.3805 127.828 33.3805H126.621ZM127.764 31.0632H126.924V31.9242H127.764C128.147 31.9242 128.389 31.7593 128.389 31.4967C128.389 31.1853 128.15 31.0632 127.764 31.0632ZM126.924 32.2142V33.0966H127.835C128.19 33.0966 128.478 32.9531 128.478 32.6417C128.478 32.3699 128.212 32.2264 127.874 32.2142H126.924Z"
          fill="#EAE6DB"></path>
        <path
          d="M129.805 32.9042C129.805 32.9042 130.075 33.1546 130.593 33.1546C131.077 33.1546 131.286 32.9714 131.286 32.7088C131.286 32.4676 131.123 32.3455 130.556 32.1837C129.922 32.0005 129.646 31.8143 129.646 31.4204C129.646 30.9777 130.017 30.7243 130.612 30.7243C131.246 30.7243 131.534 30.9716 131.534 30.9716L131.369 31.222C131.369 31.222 131.102 31.0113 130.612 31.0113C130.238 31.0113 129.956 31.1548 129.956 31.4235C129.956 31.6372 130.124 31.744 130.691 31.8998C131.387 32.0891 131.595 32.3211 131.595 32.7058C131.595 33.1271 131.295 33.4416 130.599 33.4416C129.903 33.4416 129.643 33.1332 129.643 33.1332L129.808 32.9042H129.805Z"
          fill="#EAE6DB"></path>
        <path
          d="M132.27 30.7823H134.406V31.0632H133.49V33.3805H133.186V31.0632H132.273V30.7823H132.27Z"
          fill="#EAE6DB"></path>
        <path
          d="M137.002 32.2417H135.586V33.0997H137.195V33.3805H135.283V30.7823H137.195V31.0632H135.586V31.9608H137.002V32.2417Z"
          fill="#EAE6DB"></path>
        <path
          d="M137.87 30.7823H140.006V31.0632H139.089V33.3805H138.786V31.0632H137.873V30.7823H137.87Z"
          fill="#EAE6DB"></path>
        <path
          d="M140.879 30.7823H141.946C142.599 30.7823 142.988 31.0846 142.988 31.6494C142.988 32.0768 142.746 32.3547 142.375 32.4646V32.4768L143.062 33.3073V33.3805H142.731L142.014 32.5196H141.183V33.3805H140.879V30.7823ZM141.94 31.0632H141.183V32.2356H141.98C142.384 32.2356 142.676 32.0524 142.676 31.6555C142.676 31.2586 142.384 31.0632 141.94 31.0632Z"
          fill="#EAE6DB"></path>
        <path
          d="M144.925 30.7823H144.996L146.283 33.3805H145.937L145.707 32.9287H144.223L143.994 33.3805H143.65L144.928 30.7823H144.925ZM144.977 31.396H144.944L144.392 32.5989L144.371 32.6386H145.557L145.535 32.5989L144.977 31.396Z"
          fill="#EAE6DB"></path>
        <path
          d="M147.043 32.9042C147.043 32.9042 147.313 33.1546 147.831 33.1546C148.315 33.1546 148.524 32.9714 148.524 32.7088C148.524 32.4676 148.361 32.3455 147.794 32.1837C147.16 32.0005 146.884 31.8143 146.884 31.4204C146.884 30.9777 147.255 30.7243 147.849 30.7243C148.484 30.7243 148.772 30.9716 148.772 30.9716L148.607 31.222C148.607 31.222 148.34 31.0113 147.849 31.0113C147.476 31.0113 147.194 31.1548 147.194 31.4235C147.194 31.6372 147.362 31.744 147.929 31.8998C148.625 32.0891 148.833 32.3211 148.833 32.7058C148.833 33.1271 148.533 33.4416 147.837 33.4416C147.141 33.4416 146.881 33.1332 146.881 33.1332L147.046 32.9042H147.043Z"
          fill="#EAE6DB"></path>
        <path
          d="M118.695 37.6642C118.695 37.6642 118.403 37.9969 117.79 37.9969C116.981 37.9969 116.429 37.3985 116.429 36.6413C116.429 35.8842 116.981 35.2827 117.79 35.2827C118.403 35.2827 118.695 35.6155 118.695 35.6155L118.52 35.8506C118.52 35.8506 118.247 35.5697 117.793 35.5697C117.168 35.5697 116.736 36.0551 116.736 36.6444C116.736 37.2337 117.168 37.713 117.793 37.713C118.247 37.713 118.52 37.4321 118.52 37.4321L118.695 37.6672V37.6642Z"
          fill="#EAE6DB"></path>
        <path
          d="M121.343 36.8001H119.927V37.658H121.536V37.9389H119.623V35.3407H121.536V35.6216H119.927V36.5192H121.343V36.8001Z"
          fill="#EAE6DB"></path>
        <path
          d="M122.514 35.3376H123.58C124.233 35.3376 124.622 35.6399 124.622 36.2047C124.622 36.6322 124.38 36.91 124.009 37.0199V37.0321L124.696 37.8626V37.9359H124.365L123.648 37.0749H122.817V37.9359H122.514V35.3376ZM123.574 35.6216H122.817V36.794H123.614C124.019 36.794 124.31 36.6108 124.31 36.2139C124.31 35.817 124.019 35.6216 123.574 35.6216Z"
          fill="#EAE6DB"></path>
        <path
          d="M125.324 35.3376H127.461V35.6185H126.544V37.9359H126.241V35.6185H125.327V35.3376H125.324Z"
          fill="#EAE6DB"></path>
        <path
          d="M128.638 37.9389H128.334V35.3407H128.638V37.9389Z"
          fill="#EAE6DB"></path>
        <path
          d="M129.821 35.3376H131.733V35.6185H130.124V36.5162H131.54V36.797H130.124V37.9359H129.821V35.3376Z"
          fill="#EAE6DB"></path>
        <path
          d="M132.981 37.9389H132.677V35.3407H132.981V37.9389Z"
          fill="#EAE6DB"></path>
        <path
          d="M136.242 37.6642C136.242 37.6642 135.951 37.9969 135.338 37.9969C134.529 37.9969 133.977 37.3985 133.977 36.6413C133.977 35.8842 134.529 35.2827 135.338 35.2827C135.951 35.2827 136.242 35.6155 136.242 35.6155L136.067 35.8506C136.067 35.8506 135.795 35.5697 135.341 35.5697C134.716 35.5697 134.283 36.0551 134.283 36.6444C134.283 37.2337 134.716 37.713 135.341 37.713C135.795 37.713 136.067 37.4321 136.067 37.4321L136.242 37.6672V37.6642Z"
          fill="#EAE6DB"></path>
        <path
          d="M138.081 35.3376H138.152L139.439 37.9359H139.093L138.863 37.484H137.379L137.149 37.9359H136.806L138.084 35.3376H138.081ZM138.133 35.9544H138.099L137.548 37.1573L137.526 37.197H138.712L138.691 37.1573L138.133 35.9544Z"
          fill="#EAE6DB"></path>
        <path
          d="M141.158 37.9389H140.254V35.3407H141.158C141.986 35.3407 142.55 35.8445 142.55 36.6413C142.55 37.4382 141.986 37.942 141.158 37.942V37.9389ZM140.558 35.6216V37.658H141.14C141.762 37.658 142.24 37.2825 142.24 36.6413C142.24 36.0002 141.762 35.6246 141.14 35.6246H140.558V35.6216Z"
          fill="#EAE6DB"></path>
        <path
          d="M143.368 36.6444C143.368 35.878 143.896 35.2857 144.717 35.2857C145.538 35.2857 146.069 35.878 146.069 36.6444C146.069 37.4107 145.541 38 144.717 38C143.892 38 143.368 37.4016 143.368 36.6444ZM145.759 36.6444C145.759 36.0551 145.358 35.5697 144.717 35.5697C144.076 35.5697 143.678 36.0551 143.678 36.6444C143.678 37.2337 144.076 37.7099 144.717 37.7099C145.358 37.7099 145.759 37.2306 145.759 36.6444Z"
          fill="#EAE6DB"></path>
        <path
          d="M147.043 37.4626C147.043 37.4626 147.313 37.713 147.831 37.713C148.315 37.713 148.524 37.5298 148.524 37.2672C148.524 37.026 148.361 36.9039 147.794 36.7421C147.16 36.5589 146.884 36.3727 146.884 35.9788C146.884 35.5361 147.255 35.2827 147.849 35.2827C148.484 35.2827 148.772 35.53 148.772 35.53L148.607 35.7803C148.607 35.7803 148.34 35.5666 147.849 35.5666C147.476 35.5666 147.194 35.7101 147.194 35.9788C147.194 36.1925 147.362 36.2994 147.929 36.4551C148.625 36.6444 148.833 36.8764 148.833 37.2611C148.833 37.6825 148.533 37.9969 147.837 37.9969C147.141 37.9969 146.881 37.6886 146.881 37.6886L147.046 37.4596L147.043 37.4626Z"
          fill="#EAE6DB"></path>
        <path
          d="M147.975 18.0628L147.96 18.0444C147.534 17.504 147.12 17.0461 146.05 16.4934C145.247 16.0416 142.541 15.3973 141.992 15.3027C139.647 14.802 139.175 14.2555 139.175 13.538C139.175 13.0372 139.562 12.5182 140.162 12.219C140.594 12.0022 141.143 11.8954 141.79 11.8954C142.437 11.8954 143.791 12.0755 145.351 13.2845L145.673 13.5349L148.085 10.7474L147.739 10.4695C146.351 9.35511 144.702 8.61929 142.97 8.34756H142.942C142.538 8.30787 142.069 8.26818 141.643 8.26818C140.533 8.26818 139.516 8.48801 138.529 8.93682C137.502 9.41007 136.775 9.9688 136.236 10.7138C135.654 11.5839 135.347 12.5609 135.347 13.541C135.347 15.4065 136.242 16.9026 137.94 17.8704C138.774 18.3467 140.539 18.7497 141.793 19.0123C141.903 19.0367 141.98 19.052 141.989 19.052L142.05 19.0673C144.665 19.5283 144.999 20.2916 144.999 20.9022C144.999 21.7571 144.407 22.209 143.92 22.4349C143.356 22.6822 142.752 22.8043 142.124 22.8043C141.14 22.8043 139.577 22.4746 137.726 20.9083L137.41 20.6427L134.826 23.4547L135.166 23.7417C136.665 25.0087 138.489 25.885 140.45 26.2758C141.165 26.4101 141.725 26.4682 142.274 26.4682C143.411 26.4682 144.555 26.23 145.505 25.7965C146.593 25.2744 147.39 24.621 147.932 23.8119C148.518 22.9936 148.827 21.9861 148.827 20.9022C148.827 19.8183 148.53 18.8657 147.969 18.0689L147.975 18.0628Z"
          fill="#C0A49E"></path>
      </svg>
    </div>
  </div>

  <div class="mt-10 text-center text-xs text-gray-300">
    © 2025 Tu Nombre. Todos los derechos reservados.
  </div>
</footer>
