---
import { Bars3Icon, XMarkIcon } from "@heroicons/react/24/outline";
import { Image } from "astro:assets";

import svgLogoGynobs from "@assets/svg/logoGynobs.svg";
import svgLogoGynobsWhite from "@assets/svg/logoGynobsWhite.svg";

interface Props {
  type?: "default" | "transparent";
}

const { type = "default" } = Astro.props;
---

<header
  id="header"
  class="flex items-center justify-center
  z-20 fixed top w-full left-0 right-0 bg-white lg:bg-transparent transition-colors duration-300"
>
  <div
    class="container relative flex items-center justify-between gap-4 p-4 lg:p-0 lg:py-8 md:px-0"
  >
    <div class="lg:hidden absolute">
      <Bars3Icon id="menu-icon" className="text-blue-900 size-8 lg:hidden" />
      <XMarkIcon
        id="close-icon"
        className="text-blue-900 hidden size-8 lg:hidden"
      />
    </div>

    <div
      class="flex items-center justify-center lg:justify-start w-full lg:w-auto"
    >
      <Image class=`h-8  lg:hidden` src={svgLogoGynobs} alt="logo Gynobs" />

      <div class="hidden lg:block">
        <Image
          id={"logo-gynobs"}
          class=`h-8 ${type === "transparent" ? "hidden" : "block"} `
          src={svgLogoGynobs}
          alt="logo Gynobs"
        />
        <Image
          id={"logo-gynobs-white"}
          class=`h-8 ${type === "transparent" ? "block" : "hidden"} `
          src={svgLogoGynobsWhite}
          alt="logo Gynobs"
        />
      </div>
    </div>

    <nav
      id="navigator-menu"
      class="fixed -top-full left-0 right-0 lg:top-0 lg:left-auto lg:right-auto
      flex flex-col items-center justify-center shadow lg:shadow-none p-6 py-8 lg:p-0 lg:py-0
      transition-[top] duration-300 ease-in-out lg:transition-none
      lg:static lg:flex-1 lg:flex lg:items-center lg:gap-4 lg:pt-1 bg-white lg:bg-transparent"
      aria-label="Main navigation"
    >
      <ul
        class=`h-full container flex flex-col lg:flex-row items-start justify-end gap-8 lg:gap-8
        [&>li>a]:text-blue-900 lg:[&>li]:w-28 lg:[&>li]:text-center
        [&>li>a]:relative [&>li>a]:uppercase
        font-montserrat font-base text-base lg:text-lg
        ${type === "transparent" ? "lg:[&>li>a]:text-beige-100" : ""}
        `
      >
        <li>
          <a href={"/"}>Inicio</a>
        </li>
        <li>
          <a href={"/doctores/"}>Doctores</a>
        </li>
        <li>
          <a href={"/servicios/"}>Servicios</a>
        </li>
        <li>
          <a href={"/contacto/"}>Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  @reference "../styles/global.css";

  /* Colocar linea color roja del link activo por debajo del link, pero en desktop colocar la linea encima del link */
  #navigator-menu a:is(.active) {
    font-weight: 600;
  }
</style>

<script>
  // Verificar que el DOM este completamente cargado antes de ejecutar el script con la validacion de viewtransiottions de astro
  // con astro-load-page

  document.addEventListener("astro:page-load", () => {
    // Toggle navigation menu
    const barsIcon = document.querySelector("#menu-icon");
    const closeIcon = document.querySelector("#close-icon");
    const navigatorMenu = document.querySelector("#navigator-menu");
    const navigatorLinks = document.querySelector("#navigator-menu ul");
    const header = document.querySelector("#header");

    if (navigatorMenu === null || barsIcon === null || closeIcon === null) {
      throw new Error("Element not found");
    }

    barsIcon.addEventListener("click", () => {
      barsIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
      navigatorMenu.classList.toggle("top-16");
    });

    closeIcon.addEventListener("click", () => {
      closeIcon.classList.toggle("hidden");
      barsIcon.classList.toggle("hidden");
      navigatorMenu.classList.toggle("top-16");
    });

    const path = window.location.pathname;
    const links = navigatorLinks?.querySelectorAll("a");

    links?.forEach((link) => {
      if (link.pathname === path) {
        console.log(link.pathname);
        link.classList.add("active");
      }
    });

    const logoGynobs = document.querySelector("#logo-gynobs");
    const logoGynobsWhite = document.querySelector("#logo-gynobs-white");

    if (logoGynobs === null || logoGynobsWhite === null) {
      throw new Error("Element not found");
    }

    // Solo si se encuentra en la pagina de servicios se le da el color beige al menu
    // Si el scroll baja el menu se le da backgrioun white
    window.addEventListener("scroll", () => {
      if (window.scrollY >= 50) {
        header?.classList.add("lg:bg-white");
        links?.forEach((link) => {
          link.classList.add("lg:!text-blue-900");
          if (path === "/servicios/") {
            logoGynobs.classList.remove("hidden");
            logoGynobsWhite.classList.add("hidden");
          }
        });
      } else {
        header?.classList.remove("lg:bg-white");
        links?.forEach((link) => {
          link.classList.remove("lg:!text-blue-900");
          if (path === "/servicios/") {
            logoGynobs.classList.add("hidden");
            logoGynobsWhite.classList.remove("hidden");
          }
        });
      }
    });
  });
</script>
